html{
			direction: ltr;
		}
		.title{ text-align: left;
			    background: blueviolet;
				color: white;
				border: 2px solid #d60000;
				}
		.img1{  margin-left: 41%;

				}
		img{
			margin-left: 15%;
		}
		.images{
			display: inline-flex;
			margin-left: 3%;
		}